.message {
  color: #666;
  font-size: 16;
  horizontal-align: center;
  padding:10;
}

button {
  background-color: #6494AA;
  padding: 8;
  margin: 10 12;
  font-size: 14;
  border-radius: 6;
}

.button {
  color: #ffffff;
}

.button-notification-success {
  background-color: #90A959;
}

.button-notification-warning {
  background-color: #E0A458;
}

.button-notification-error {
  background-color: #FF0000;
}

.button-selection {
  background-color: #A85D89;
}

.button-impact-light {
  background-color: #64A4FF;
}

.button-impact-medium {
  background-color: #64A4CC;
}

.button-impact-heavy {
  background-color: #64A4AA;
}

.button-weakboom {
  background-color: #CCCCCC;
}

.button-strongboom {
  background-color: #AAAAAA;
}

.button-burst {
  background-color: #888888;
}